@font-face {
  font-family: Mukta;
  src: local('Mukta Light'), local('Mukta-Light'),
    url('/fonts//Mukta-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: MPLUSRounded1c;
  src: local('MPLUSRounded1c Light'), local('MPLUSRounded1c-Light'),
    url('/fonts//MPLUSRounded1c-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
