@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#__next {
  height: 100%;
  margin: 0;
}

/* html,
body,
#app,
#app > div {

} */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px 0.1em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

li {
  display: list-item;
  list-style-position: inside;
}

ol {
  list-style: auto;
}

ul {
  list-style: disc;
}

p {
  font-family: MPLUSRounded1c;
}

h1 {
  font-family: MPLUSRounded1c;
  font-size: 30px;
}

h2 {
  font-family: MPLUSRounded1c;
  font-size: 20px;
}
