@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed;
}

html,
body,
#app,
#app > div {
  min-height: 100vh;
  min-width: 100vw;
}

#__next {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
