@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed;
}

html,
body,
#app,
#app > div {
  min-height: 100vh;
  min-width: 100vw;
}

#__next {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px 0.1em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

li {
  display: list-item;
  list-style-position: inside;
}

ol {
  list-style: auto;
}

ul {
  list-style: disc;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
